.App {
 
  background-color: #282c34;
  display: flex;
  align-Items: center;
  flex-direction: column;
  justify-content: space-between;
  

}

.App-box {
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
  width: 1000px;
  min-height: 100vh;

    
}

@media only screen and (max-width: 1300px) {
  .App-box {
    width: 96%;  
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}